.card {
  width: 16rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  cursor: default;
}

.instruct {
  position: absolute;
  top: 5rem;
  left: 1rem;
  z-index: 5;
  color: white;
  padding: 0.3rem;
  background-color: rgb(113, 165, 93, 0.4);
  display: flex;
  justify-content: end;
}

.instruct span {
  margin: 0 0.36rem;
  display: flex;
  justify-self: end;
}

label {
  width: max-content;
  color: tomato;
  font-size: 14px;
  border-bottom: 0.5px solid tomato;
  margin: 5px 0;
}

.desc {
  font-size: 15px;
  padding-right: 0.5rem;
  overflow-y: auto;
}

.desc::-webkit-scrollbar {
  width: 5px;
}

.desc::-webkit-scrollbar-track {
  background-color: rgb(233, 162, 149);
  border-radius: 10px;
}

.desc::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 10px;
}

.star {
  color: gold;
}

.username {
  font-size: 16px;
}

.date {
  font-size: 13px;
}

.input-form {
  max-height: 22rem;
  width: 16rem;
}

form {
  display: flex;
  flex-direction: column;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

form label {
  margin: 0.6rem 0 0.2rem;
}

select {
  margin: 0.5rem 0 0.3rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
}

.submitButton {
  margin: 0.8rem 0 0.2rem;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

@media (max-width: 480px) {
  .instruct {
    font-size: 0.75rem;
  }

  .instruct span * {
    font-size: 1rem;
  }
}
